body{
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbXNiaTRjb2dxeml2eWhsYWRpaHVsOWZodnJ1M2RjbGlna2NsajJmYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kNUDroLCe1KCY/giphy.webp");
    background-repeat: no-repeat;
  margin: 0;
  background-size: 100% 750px;

}

.map {
    height: 565px;
    width: 695px;
    transform: translateX(600px)translateY(-18px);
    border-radius: 10px;
}

.searchWrapper {
    display: flex;
}

.searchWrapper #cityInput {
    height: 42px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.396);
    box-shadow: 2px 2px 5px gray;
    border: transparent;
    text-align: center;
    transform: translateX(80px);
    border-radius: 7px;
}

.searchWrapper #searchButton {
    transform: translateX(80px);
    height: 34  px;
    width: 78px;
    box-shadow: 2px 2px 5px gray;
    background: hsl(41, 85%, 66%, 0.7);
    border: transparent;
    border-radius: 7px;
}

.searchWrapper .cityInput:hover {
    background-color: white;
}

.searchWrapper .searchButton:hover {
    background-color: white;
}

 
h1 {
    text-align: center;
}


span.label{
    font-weight: 900;
    font-size: 18px;
}

span.value {
    font-weight: 900;
    font-size: 18px;

}


header.wheather-header {
    text-align: center;
}

footer {
    transform: translateY(-180px)translateX(10px);
    font-family: sans-serif;
}

#weather {
    display: flex;
    /* justify-content: center; */
    transform: translateY(-400px)translateX(11px);
    /* align-content: stretch; */
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.weather-data, .p {
    margin: 5px;
    background: hsl(41, 85%, 66%, 0.7);
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
    font-family: fangsong;
    width: 210px;
    text-align: center;
}

.weather-item{
    padding:0px
}